{% extends "layouts/base.html.twig"%}

{% block title %} Chart {% endblock %}

{% block body %}
    <div class="row" id="chart">
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let items = JSON.parse(localStorage.getItem('items'));
        if(items){
            items.forEach((element, index) => {
                fetch(`http://localhost:8000/getProductFromChart/${element}`)
                .then(res => res.json())
                .then((doc) =>{
                    let node = document.createElement("div");
                    node.classList.add("col-md-3");
                    node.classList.add("ml-5");
                    node.classList.add("card");
                    node.innerHTML = `<div class="card-body">
                                          <h5 class="card-title">${doc.name}</h5>
                                          <p class="card-text">${doc.description}</p>
                                          <h6 class="card-subtitle mb-2 text-muted">${doc.price}</h6>
                                          <a href=""  class="card-link remove_from_chart_anchor">Remove from chart</a>
                                     </div>`;
                    document.getElementById("chart").appendChild(node);
                    let elements = document.getElementsByClassName("remove_from_chart_anchor");
                    node = elements[elements.length - 1];
                    node.addEventListener('click', (e) => {
                            e.preventDefault();
                            for(let i = 0; i<elements.length; ++i){
                                if(elements[i] === node){
                                    items.splice(i, 1);
                                    localStorage.setItem('items', JSON.stringify(items));
                                    break;
                                }
                            }
                            node.parentElement.parentElement.remove();
                    });
                });
            });
        }

        let removeFromChart = function(node){
            console.log(node);
        }
    </script>
{% endblock %}