{% extends "layouts/base.html.twig"%}

{% block title %} Chart {% endblock %}

{% block body %}
    <div class="row" id="chart">
    </div>
    <div class="row">
        <div class="col-md d-flex justify-content-end">
            <button onclick="purchase()" id="purchase" class="btn btn-success btn-lg" hidden="true">purshase</button>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script>
        let element = document.getElementById("purchase");

        function checkStorage(){
            let items = JSON.parse(localStorage.getItem('items'));
            return items.length > 0 ? true : false;
        }

        if(checkStorage()){
            element.hidden = false;
        } else{
            element.hidden = true;
        }


        let items = JSON.parse(localStorage.getItem('items'));
        if(items.length){
            items.forEach((element, index) => {
                fetch(`http://localhost:8000/getProductFromChart/${element}`)
                .then(res => res.json())
                .then((doc) =>{
                    let node = document.createElement("div");
                    node.classList.add("col-md-3");
                    node.classList.add("ml-5");
                    node.classList.add("card");
                    node.innerHTML = `<div class="card-body">
                                          <h5 class="card-title">${doc.name}</h5>
                                          <p class="card-text">${doc.description}</p>
                                          <h6 class="card-subtitle mb-2 text-muted">${doc.price}</h6>
                                          <a href=""  class="card-link remove_from_chart_anchor">Remove from chart</a>
                                     </div>`;
                    document.getElementById("chart").appendChild(node);
                    let elements = document.getElementsByClassName("remove_from_chart_anchor");
                    node = elements[elements.length - 1];
                    node.addEventListener('click', (e) => {
                            e.preventDefault();
                            for(let i = 0; i<elements.length; ++i){
                                if(elements[i] === node){
                                    items.splice(i, 1);
                                    localStorage.setItem('items', JSON.stringify(items));
                                    break;
                                }
                            }
                            node.parentElement.parentElement.remove();
                    });
                });
            });
        } else {
            let node = document.createElement('div');
            node.classList.add("col-md-3");
            node.classList.add("ml-5");
            node.innerHTML = `
                                <p>No items in the chart yet, you can check our products by clicking</p> 
                                <a href="{{ path('products') }}">here</a>
                            `;
            document.getElementById("chart").appendChild(node);                
        }

        let purchase = function(){
            let items = localStorage.getItem("items");
            fetch('http://localhost:8000/order_purchase', {
                method: "POST",
                body : items
            })
            .then(res => res.json())
            .then(docs => {
                localStorage.setItem("items", JSON.stringify([]));
                location.replace("http://localhost:8000");
            });   
        };
    </script>
{% endblock %}