{% extends 'layouts/base.html.twig' %}

{% block title  %} Order {% endblock %}

{% block body %}
	<div class="row">
            {% for product in products %}
                <div class="card col-md-3 ml-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text"><p>{{ product.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ product.price|format_currency('EUR') }}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}